@using Isen.DotNet.Library.Models.Implementation;
@{
    ViewData["Title"] = "Points Interets Touristiques";
}
@model IEnumerable<PointInteret>
<style>
    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

    #form {
        display: inline-block;
    }
    #map { position:absolute; top:55%; bottom:0; width:40%; height: 40%;}
</style>

<div class="top">
    <div class="row">
        <div class="col-md-12">
            <h1>Points Intérêts Touristiques <small>/poi/index</small></h1>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-default" 
            asp-controller="PointInteret" asp-action="Detail">Ajouter un point d'intérêt...</a>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Adresse</th>
                    <th>Departement</th>
                    <th>Commune</th>
                    <th>Code Postal</th>
                    <th>Categorie</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach(var poi in Model)
                {
                <tr>
                    <td>@poi.Id</td>
                    <td>@poi.Nom</td>
                    <td>@poi.Description</td>
                    @if(poi.Adresse == null)
                    {
                        <td>Aucune adresse</td>
                        <td>Aucun departement</td>
                        <td>Aucune commune</td>
                        <td>Aucun code postal</td>
                    } else {
                        <td>@poi.Adresse.Texte </td>
                        <td>@poi.Adresse.Commune.Departement?.Nom</td>
                        <td>@poi.Adresse.Commune?.Nom</td>
                        <td>@poi.Adresse.ZipCode</td>
                    }
                    <td>@poi.Categorie?.Nom</td> 
                    
                    <td>
                        <a class="btn btn-default" asp-controller="PointInteret" asp-action="Detail" asp-route-id="@poi.Id">Editer</a>
                        &nbsp;
                        <a class="btn btn-danger" asp-controller="PointInteret" asp-action="Delete" asp-route-id="@poi.Id">Supprimer</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
