@using Isen.DotNet.Library.Models.Implementation;
@{
    ViewData["Title"] = "Adresses";
}
@model IEnumerable<Adresse>

<div class="row">
    <div class="col-md-12">
        <h1>Adresses <small>/adresse/index</small></h1>
    </div>
</div>
<div class="row">
    <a class="btn btn-default" 
        asp-controller="Adresse" asp-action="Detail">Ajouter une adresse...</a>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Texte</th>
                <th>Commune</th>
                <th>Departement</th>
                <th>Code postal</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var adresse in Model)
            {
            <tr>
                <td>@adresse.Id</td>
                <td>@adresse.Texte</td>
                @if (adresse.Commune != null)
                {
                    <td>@adresse.Commune.Nom</td>
                } else
                {
                    <td>Aucune commune</td>
                }

                @if (adresse.Commune != null && adresse.Commune.Departement != null)
                {
                    <td>@adresse.Commune.Departement.Nom</td>
                } else
                {
                    <td>Aucun departement</td>
                }
                <td>@adresse.ZipCode</td>
                <td>@adresse.Longitude</td>
                <td>@adresse.Latitude</td>
                <td>
                    <a class="btn btn-default" asp-controller="adresse" asp-action="Detail" asp-route-id="@adresse.Id">Editer</a>
                    &nbsp;
                    <a class="btn btn-danger" asp-controller="adresse" asp-action="Delete" asp-route-id="@adresse.Id">Supprimer</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>